FRONTEND_PORT=8095
FRONTEND_NAME=gestiondgi-frontend
BACKEND_NAME=gestiondgi-backend
POSTGRES_NAME=gestiondgi-postgres
POSTGRES_USER=gestiondgi
POSTGRES_PASSWORD=gestiondgi_password
POSTGRES_DB=gestiondgi
DATABASE_URL=postgresql://gestiondgi:gestiondgi_password@db:5432/gestiondgi?schema=public
VITE_API_URL=/api
NODE_ENV=production
